#footer {
    margin: 0;
    padding: 0.5em 0;
    color: gray;
    margin-top: 1em;
}

#footer .link {
    color: inherit;
    text-decoration: none;
    transition: color 0.1s linear;
}

#footer .link:hover {
    color: #b9bbbe;
}
