#logo {
    /* height: 225.04; Height for when tags extended*/
    /* width: 266px; Width for when tags extended*/
    height: 165.04;
    width: 226px;
    position: absolute;
    right: 12.8rem;
    top: 0.4rem;
    z-index: 1;
}


@keyframes spin {
    from { transform: rotate(0); }
    to { transform: rotate(360deg); }
}
  
.spinning {
    animation-name: spin;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal;
}
